<template>
  <div
    class="container mx-auto flex flex-col items-stretch h-screen"
  >
    <div id="nav" class="h-auto text-center p-12">
      <router-link to="/">Home</router-link> |
      <router-link to="/vehicle">Vehicle</router-link> |
      <router-link to="/stn">STN Communication</router-link>
    </div>
    <router-view class="h-4/5"/>
  </div>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
