<template>
  <div class="border">
    <p v-for="(c, index) in communicationHistory" :key="index">
      {{ c }}
    </p>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import io, { Socket } from 'socket.io-client';

import stnService from '../services/stn';

interface STNCommunicationData {
  socket: Socket;
  communicationHistory: Array<string>;
}

export default defineComponent({
  name: 'STNCommunication',

  data(): STNCommunicationData {
    const socket = io('http://localhost:5000', {
      autoConnect: false,
    });

    return {
      socket,
      communicationHistory: [],
    }
  },

  async mounted() {
    console.log('Mounted');

    // setup websockets with server to receive notifications
    // when new STN data comes in
    this.socket.on('connect', () => {
      console.log(`Socket connected: ${this.socket.connected}`);
    });

    this.socket.on('disconnect', () => {
      console.log(`Socket disconnected: ${this.socket.disconnected}`);
    });

    this.socket.onAny((event, ...args) => {
      console.log(`Received event ${event}. Args:`);
      console.log(args);
    });

    this.socket.on('stn communication', (communicationHistory) => {
      this.communicationHistory = communicationHistory.split('\n')
    });

    this.socket.connect();

    // finally, let's grab current data
    const communicationHistory = await stnService.getStnCommunication();
    this.communicationHistory = communicationHistory.split('\n');
  },

  async beforeUnmount() {
    console.log('Unmounting');

    // tear down websockets
    this.socket.disconnect();
  }
});
</script>
