<template>
  <div
    class="grid grid-cols-3 gap-4"
  >
    <vehicle-value
      v-for="value in values"
      :key="value.name"
      :name="value.name"
      :value="value.value"
      @increment="() => incrementHandler(value.name)"
      @decrement="() => decrementHandler(value.name)"
    />
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

import vehicleService from '../services/vehicle';

import VehicleValue from '@/components/VehicleValue.vue';

interface VehicleData {
  values: {
    name: string;
    value: number;
  }[]
}

export default defineComponent({
  name: 'Vehicle',
  components: {
    VehicleValue,
  },

  data(): VehicleData {
    return {
      values: [],
    }
  },

  async mounted() {
    const values = await vehicleService.getVehicleValues();

    Object.getOwnPropertyNames(values).forEach((n: string) => {
      this.values = [
        ...this.values,
        { name: n, value: values[n] },
      ];
    });
  },

  methods: {
    async incrementHandler(valueName: string) {
      const value = this.values.find(v => v.name === valueName);
      if (!value) {
        console.error(`Could not find value ${valueName}`);
        return;
      }

      const newValues = await vehicleService.setVehicleValues({
        [value.name]: value.value + 1,
      });

      Object.getOwnPropertyNames(newValues).forEach(v => {
        this.updateValue(v, newValues[v]);
      });
    },

    async decrementHandler(valueName: string) {
      const value = this.values.find(v => v.name === valueName);
      if (!value) {
        console.error(`Could not find value ${valueName}`);
        return;
      }

      const newValues = await vehicleService.setVehicleValues({
        [value.name]: value.value - 1,
      });

      Object.getOwnPropertyNames(newValues).forEach(v => {
        this.updateValue(v, newValues[v]);
      });
    },

    updateValue(name: string, value: number) {
      this.values = this.values.map(val => {
        if (val.name === name) {
          return {
            name: val.name,
            value: value,
          }
        }

        return val;
      });
    }
  },
});
</script>
