<template>
  <div
    class="border rounded-lg p-2"
  >
    <div class="mb-6">
      {{ name }}
    </div>

    <div
      class="flex justify-evenly items-center mb-6"
    >
      <button
        @click="$emit('decrement')"
        class="border rounded-full"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 12H6" />
        </svg>
      </button>

      {{ value }}

      <button
        @click="$emit('increment')"
        class="border rounded-full"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
        </svg>
      </button>

    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'VehicleValue',
  props: [ 'name', 'value' ],
  emits: [ 'decrement', 'increment' ],
});
</script>
